<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.health.weightlogs.mapper.HealthyWeightLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xhn.health.weightlogs.model.HealthyWeightLogs">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="record_date" property="recordDate"/>
        <result column="weight_kg" property="weightKg"/>
        <result column="body_fat_percentage" property="bodyFatPercentage"/>
        <result column="bmi" property="bmi"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, record_date, weight_kg, body_fat_percentage, bmi, created_at
    </sql>

</mapper>
