<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.health.userprofiles.mapper.HealthUserProfilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xhn.health.userprofiles.model.HealthUserProfiles">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="birth_date" property="birthDate"/>
        <result column="gender" property="gender"/>
        <result column="height_cm" property="heightCm"/>
        <result column="baseline_weight_kg" property="baselineWeightKg"/>
        <result column="target_weight_kg" property="targetWeightKg"/>
        <result column="health_profile_embedding" property="healthProfileEmbedding" typeHandler="com.xhn.base.mybatis.handler.VectorTypeHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, birth_date, gender, height_cm, baseline_weight_kg,
        target_weight_kg, health_profile_embedding, created_at, updated_at
    </sql>

</mapper>
