<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.health.psychology.profiles.mapper.HealthPsyProfilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xhn.health.psychology.profiles.model.HealthPsyProfiles">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="mbti_type" property="mbtiType"/>
        <result column="enneagram_type" property="enneagramType"/>
        <result column="baseline_stress_level" property="baselineStressLevel"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, mbti_type, enneagram_type, baseline_stress_level, created_at, updated_at
    </sql>

</mapper>
