<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.health.psychology.assessments.mapper.HealthPsyAssessmentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xhn.health.psychology.assessments.model.HealthPsyAssessments">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="scale_name" property="scaleName"/>
        <result column="total_score" property="totalScore"/>
        <result column="severity_level" property="severityLevel"/>
        <result column="result_analysis" property="resultAnalysis"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, scale_name, total_score, severity_level, result_analysis, created_at
    </sql>

</mapper>
